
Flask
Flask-Cors
FastAPI
uvicorn


streamlit


google-generativeai
google-api-core
google-auth


numpy
pandas
requests
beautifulsoup4


chromadb
pinecone
faiss-cpu  


python-dotenv
pydantic
tqdm
SQLAlchemy
gunicorn 


httpx
websockets
